h1 {
    color: red;
    text-align: center;
    font-family: 'sans-serif';
}

table{
    text-align: center;
}

table th {
    color: brown;
}

table td {
    color:blue;
}

img{
    width: 30px;
    height: 30px;
    text-align: centergit;
}

p{
    color: blue;
    font-size: 12px;
}